@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "Poppins", sans-serif;

}


/* Header */

.header{
    display:flex;
    justify-content: center;
    background-color: #2D25A0;
    height:750px;

}
.header-container{
    width:80%;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding:35px 0px;
}
.nav-list{
    display:flex;
    gap:60px;
}
.nav-bars{
    display:none;
}
.nav-list li{
    list-style: none;
    color:#FFFFFF;
    font-size:1.2rem;
}
.nav-button a{
    text-decoration: none;
    color:#FFFFFF;
    background-color: #E02C6D;
  
}
.nav-btn{
   padding:10px 24px;
}
.banner{
    margin-top:30px;
    display:flex;
}
.banner-text{
    width:80%;
}
.banner-text a{
    text-decoration: none;
    color:#FFFFFF;
    background-color: #E02C6D;
 
}
.banner-main-title{
    color:#FFFFFF;
    font-size:4.5rem;
    margin-bottom:20px;
}
.banner-btn{
    padding:10px 24px;
 
}
.banner-photo{
    width:80%;
}
.banner-image-container{
    display:flex;
    justify-content: flex-end;
}

/*  Card Section */
.player-card-section{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.card-container{
    width:80%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.card-photo{
    width:100%;
}
.player-card{
    padding:15px 15px;
    box-shadow:5px 5px 20px #dbdbdd;

}
.card-name{
    font-size:1.5rem;
    margin:10px 0px;
    letter-spacing: 1px;;
}
.card-description{
    font-size:1rem;
    letter-spacing: 1px;
    color: rgb(108, 108, 108);
}

/* High Lights */

.high{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.high-container{
    width:80%;
    display:flex;
    justify-content: space-between;
}
.high-maun-title{
    font-size: 3rem;
    width:61.9%;;
    margin-top:55px;
}
.high-photo{
    width:90%;
}
.high-text a{
    text-decoration: none;
    color:#FFFFFF;
    background-color: #E02C6D;
}
.high-btn{
    padding:10px 24px;
}
.high-description{
    font-size:1rem;
    color: rgb(108, 108, 108);
    margin-bottom:50px;
    margin-top: 10px;;
}
.high-image-container{
    display:flex;
    justify-content: flex-end;
}